*.hdf5 filter=lfs diff=lfs merge=lfs -text
server/aida/personality_analysis/data/mypersonality.csv filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
